.ordersComponent {
    /* border: 1px solid black; */
    padding-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
}

.ordersHeader {
    position: sticky;
}

.ordersContainer {
    /* border: 1px solid black; */
    padding : 10px 80px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.ordersCard {
    border: 1px solid #007bff;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
}

.ordersContent {
    /* border: 1px solid black; */
    padding: 10px;
    box-sizing: border-box;
}

.ordersContent h2 {
    margin: 0;
    padding: 0;
}

.ordersDetails {
    max-width: 40%;
    text-align: justify;
}

.ordersCard img {
    border-radius: 10px;
}

.orderStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 197, 56);;
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid rgb(56, 197, 56);
    border-radius: 10px;
}

