.headerComponent {
    height: var(--header-height);
    background-color: #007bff;
    color: white;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
}

.headerTitle {
    font-size: 32px;
    font-weight: bold;
}

.rightSideActions {
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
}

a{
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}